<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Yugen</title>
</head>
<body>
    <div class="container">
        <h1>Yugen</h1>
        
        <div class="tab">
            <button class="tab-button active" onclick="openTab(event, 'dataImport')" id="defaultTab">Data Import</button>
            <button class="tab-button" onclick="openTab(event, 'dataProfiling')">Data Profiling and Visualization</button>
            <button class="tab-button" onclick="openTab(event, 'dataCleaning')">Data Cleaning and Transforming</button>
            <button class="tab-button" onclick="openTab(event, 'modeling')">Modeling</button>
        </div>

        <!-- Data Import Section -->
        <div id="dataImport" class="tab-content" style="display: block;">
            <h2>Data Import</h2>
            <form id="upload-form" enctype="multipart/form-data">
                <input type="file" id="file-upload" name="file" accept=".csv,.xlsx" required>
                <button type="submit">Upload</button>
            </form>
            <div id="upload-status"></div>
            <h3>Data Info</h3>
            <div id="data-info-container"></div>
            <div id="data-head-container"></div>
        </div>

        <!-- Data Profiling Section -->
        <div id="dataProfiling" class="tab-content" style="display: none;">
            <h2>Data Profiling</h2>
            
            <label for="data-select">Choose data:</label>
            <select id="data-select">
                <option value="original">Original Data</option>
                <option value="cleaned">Cleaned Data</option>
            </select>
        
            <button id="load-profile-btn">Load Profile</button>
            <div id="profiling-container"></div>
        </div>

        <!-- Data Cleaning -->
        <div id="dataCleaning" class="tab-content" style="display: none;">
            <h2>Data Cleaning</h2>
        
            <label><input type="checkbox" id="drop-nulls"> Drop Rows with Null Values</label><br>
            <label><input type="checkbox" id="drop-duplicates"> Remove Duplicates</label><br>
            
            <label>Columns to Drop (comma-separated):</label>
            <input type="text" id="columns-to-drop" placeholder="e.g., column1, column2"><br><br>
        
            <button id="clean-data-btn">Apply Cleaning</button>
            <div id="cleaning-status"></div>
        </div>
        

        <div id="modeling" class="tab-content" style="display: none;">
            <h2>Modeling</h2>
            <p>Modeling Section</p>
        </div>
    </div>

    <script src="static/js/scripts.js"></script>
</body>
</html>
